
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

html,
body {
    padding: 2em;
    margin: 2px;
    background-color: beige;
    text-align: center;
    font-family: Optima;
    font-size: 22px;
    /* overflow-y: scroll; */
}
