@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  scroll-behavior: smooth;
  padding: 2em;
  margin: 2px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  /* overflow-y: scroll; */
}
